<form action=" <%= users_url %>" method="post">
  <label for="username">Username</label>
    <input id="username" type="text" name="user[user_name]" placeholder="John or whatever">
  <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" placeholder="John or whatever">
  <input type="submit" value="Sign up">
</form>
